<div class="row">
  <div class="col">
    <div id="mygrid"></div>
  </div>
</div>

<div class="list-item-details shadow-lg">
  <a id="collapse-details-pane" class="d-block p-1 text-decoration-none" href="#" aria-expanded="false">
    <i class="mi mi-ChevronUp"></i>
  </a>
  <div class="spinner-wrapper">
    <div class="throbber-loader"></div>
  </div>
  <div id="mygrid-details"></div>
</div>
